/* General container styling */
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3A4E48;
    color: white;
    font-family: 'RussoOne', sans-serif;
  }
  
  /* Title styling */
  .profile-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #F4C95D;
  }
  
  /* Profile details styling */
  .profile-details p {
    font-size: 1.2rem;
    margin: 10px 30px;
    line-height: 1.5;
  }
  
  .profile-details strong {
    color: #F4C95D;
  }

  .logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #F44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.logout-button:hover {
    background-color: #D32F2F;
}